@model Minesweeper_Web_App.Models.GameModel

@{ 
    TimeSpan ts = Model.timer.Elapsed;
    string elapsedTime = String.Format("{0:00}:{1:00}.{2:00}",
            ts.Minutes, ts.Seconds,
            ts.Milliseconds / 10);
}
<div>@elapsedTime</div>

@for (int i = 0; i < 12; i++)
{
<div class="flex-container">

    @for (int j = 0; j < 12; j++)
    {
        //default game board
        if (Model.board.theGrid[i, j].isVisited == false && Model.board.theGrid[i, j].isFlagged == false)
        {
            <button class="flagged-button" type="submit" name="mine" value="@i,@j" id="game_button">?</button>
        }
        //flag cells(right click)
        else if (Model.board.theGrid[i, j].isFlagged == true && Model.board.theGrid[i, j].isVisited == false)
        {
            <button class="flagged-button" type="submit" name="mine" value="@i,@j" id="right_click_button"></button>
        }
        @*//unflag cells(right click)
        else if (Model.board.theGrid[i, j].isFlagged == false)
        {
            <button class="flagged-button" type="submit" name="mine" value="@i,@j" id="game_button">?</button>
        }*@
        //visited bomb button(lose)
        else if (Model.board.theGrid[i, j].isVisited == true && Model.board.theGrid[i, j].isLive == true && Model.board.theGrid[i, j].isFlagged == false)
        {
            <button type="submit" name="mine" value="@i,@j" id="visited_bomb_button" disabled></button>
        }
        //flagged cells(win)
        else if (Model.board.theGrid[i, j].isFlagged == true && Model.board.theGrid[i, j].isLive == true)
        {
            <button type="submit" name="mine" value="@i,@j" id="flagged_button" disabled></button>
        }
        //visited, no neighbors
        else if (Model.board.theGrid[i, j].isVisited == true && Model.board.theGrid[i, j].isLive == false && Model.board.theGrid[i, j].liveNeighbors == 0)
        {
            <button type="submit" name="mine" id="visited_button" disabled></button>
        }
        //visited, with neighbors
        else if (Model.board.theGrid[i, j].isVisited == true && Model.board.theGrid[i, j].liveNeighbors != 0)
        {
            <button type="submit" name="mine" id="visited_button" disabled>
                @if (Model.board.theGrid[i, j].liveNeighbors == 1)
                {
                    <font color="blue">@Model.board.theGrid[i, j].liveNeighbors</font>
                }
                else if (Model.board.theGrid[i, j].liveNeighbors == 2)
                {
                    <font color="green">@Model.board.theGrid[i, j].liveNeighbors</font>
                }
                else if (Model.board.theGrid[i, j].liveNeighbors == 3)
                {
                    <font color="red">@Model.board.theGrid[i, j].liveNeighbors</font>
                }
                else if (Model.board.theGrid[i, j].liveNeighbors == 4)
                {
                    <font color="darkblue">@Model.board.theGrid[i, j].liveNeighbors</font>
                }
                else if (Model.board.theGrid[i, j].liveNeighbors == 5)
                {
                    <font color="darkred">@Model.board.theGrid[i, j].liveNeighbors</font>
                }
                else if (Model.board.theGrid[i, j].liveNeighbors == 6)
                {
                    <font color="darkcyan">@Model.board.theGrid[i, j].liveNeighbors</font>
                }
                else if (Model.board.theGrid[i, j].liveNeighbors == 7)
                {
                    <font color="black">@Model.board.theGrid[i, j].liveNeighbors</font>
                }
                else
                {
                    <font color="gray">@Model.board.theGrid[i, j].liveNeighbors</font>
                }
            </button>
        }
    }
</div>
}

@if (Model.winLose == 1)
{
    <script>winBox();</script>
}
else if (Model.winLose == 2)
{
    <script>loseBox();</script>
}